# npm 代理配置
# 如果需要设置代理，取消下面的注释并修改为你的代理地址

# HTTP 代理
# proxy=http://127.0.0.1:7890

# HTTPS 代理
# https-proxy=http://127.0.0.1:7890

# 不使用代理的域名
# no-proxy=localhost,127.0.0.1,*.local

# 国内镜像源（推荐使用，加速下载）
registry=https://registry.npmmirror.com

